footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #545F63;
    font-size: 0.9em;
}