.Message {
    max-width: 100%;
    text-align: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Message-user {
    align-items: flex-end;
}

.Message-user .Message-box {
    display: flex;
    flex-direction: row-reverse;
}

.Message-box {

    width: 80%;
    display: flex;
    flex-direction: row;
}

.Message span {
    margin: 0 70px;
    font-weight: 500;
    font-size: 0.8em;
    color: #63545a;

}

.Message-user span {
    margin: 0;

}

.Message-box p {
    padding: 1vmin;
    background-color: #6BC47C;
    opacity: 0.9;
    border-radius: 10px 10px 10px 0px;
    font-size: 1em;
    color: #ffff;
    word-break: break-all;
}

.Message-user p {
    padding-bottom: 0;
    text-align: left;
    background-color: #545F63;
    border-radius: 10px 10px 0px 10px;
}

.Message-tools {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    line-height: 1em;
    padding: 0;
    opacity: 0;
}

p:hover .Message-tools {
    opacity: 1;
}

.Icon {
    width: 12px;
    padding-bottom: 1px;
    cursor: pointer;
}

.Like-icon {
    margin: 10px;
    align-self: center;
    width: 30px;
    justify-self: center;
    cursor: pointer;
}

.User-avatar {
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 7px #666;
}